<!DOCTYPE html>
<html>
    <body>
        <img src="{{ logo }}" alt="logo du Louvre">
        <h2>{{ 'head.main_title'|trans }}</h2>

        <h3> {{ 'summary'|trans({ '%transaction%': booking.transaction }) }} {{ booking.dateOfVisit|localizeddate('medium', 'none') }}</h3>

        <div>
            <p><strong>{{ 'mail.booking.total_price'|trans }}</strong> : {{ booking.totalPrice }} €</p>
            <p><strong>{{ 'booking.type'|trans }}</strong> : {{ booking.type }}</p>
        </div>

        <div>
            <div>
                {% for ticket in tickets %}
                    <table>
                        <tr>
                            <th scope="col">{{ 'ticket.lastname'|trans }}</th>
                            <th scope="col">{{ 'ticket.firstname'|trans }}</th>
                            <th scope="col">{{ 'ticket.unit_price'|trans }}</th>
                        </tr>

                        <tr>
                            <td>{{ ticket.lastname }}</td>
                            <td>{{ ticket.firstname }}</td>
                            <td>{{ ticket.price }}</td>
                        </tr>
                    </table>
                {%  endfor %}
            </div>
        </div>
    </body>
</html>