{% extends 'base.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block title %}{{ parent() }} - {{ 'step_title'|trans }} 1 {% endblock %}


{% block body %}
    <div class="col-md-12 col-sm-12 form-style">
        <main>
            {{ form_start(form) }}
            <div class="row form-style-title">
                <h4>{{ 'booking.dateOfVisit'|trans }}</h4>
            </div>
            <div class="form-block">
                {{ form_errors(form) }}
                {{ form_row(form.dateOfVisit) }}
            </div>


            <div class="row form-style-title">
                <h4>{{ 'tickets'|trans }}</h4>
            </div>

            <div class="form-block">
                {{ form_row(form.type) }}
                {{ form_row(form.nbTickets) }}
            </div>
            <div class="row form-style-title">
                <h4>{{ 'email'|trans }}</h4>
            </div>

            <div class="form-block">
                {{ form_row(form.email.first) }}
                {{ form_row(form.email.second) }}
            </div>

            <button class="btn mx-auto" type="submit" name="index_validation">{{ 'submit.button'|trans }}</button>
            {{ form_end(form) }}
        </main>
    </div>

{% endblock %}