{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'step_title'|trans }} 3{% endblock %}

{% block body %}
    {% block block_img %}{% endblock %}
    <div class="col-md-12 col-sm-12 form-style">
        <main>
            <div class="row form-style-title" >
                <h4>{{ 'booking.summary'|trans }}{% block summaryTitle %}{% endblock %}</h4>
            </div>

            <table class="table table-striped table-responsive justify-content-center">
                <thead>
                <tr>
                    <th></th>
                    <th scope="col">{{ 'booking.dateOfVisit'|trans }}</th>
                    <th scope="col">{{ 'ticket.lastname'|trans }}</th>
                    <th scope="col">{{ 'ticket.firstname'|trans }}</th>
                    <th scope="col">{{ 'booking.type'|trans }}</th>
                    <th scope="col">{{ 'ticket.reduce_rate'|trans }}</th>
                    <th scope="col">{{ 'ticket.unit_price'|trans }}</th>
                </tr>
                </thead>

                <tbody>
                {% for ticket in booking.tickets %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ booking.dateOfVisit|date('d/m/Y') }}</td>
                        <td>{{ ticket.firstname }}</td>
                        <td>{{ ticket.lastname }}</td>
                        <td>{{ ((booking.type)?'booking.day' : 'booking.half_day')|trans }}</td>
                        <td>{{ ((ticket.reducedPrice)? 'summary_yes' : 'summary_no')|trans }}</td>
                        <td>{{ ticket.price }}</td>
                    </tr>
                {%  endfor %}
                </tbody>
            </table>
            <div class="row price form-block">
                <p><strong>{{ 'booking.total_price'|trans }} : {{ booking.totalPrice }} € </strong></p>
            </div>

            {% block payment %}
                <form action="{{ path('summary') }}" method="POST" class="stripe-btn">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ stripe_public_key }}"
                            data-description="{{ 'payment.stripe_title'|trans }}"
                            data-amount="{{ booking.totalPrice * 100}}"
                            data-locale="auto"
                            data-currency='eur'
                            data-label="{{ 'payment.stripe_label'|trans }}"
                            data-email='{{ booking.email }}'>
                    </script>
                </form>
            {% endblock %}
        </main>
    </div>
{% endblock %}