{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Résumé {% endblock %}

{% block body %}
    <div class="col-md-8 col-sm-12 form-style">
        <main>
            <div class="row form-style-title" >
                <h4>Résumé de la commande{% block summaryTitle %}{% endblock %}</h4>
            </div>

            <table class="table table-striped table-responsive justify-content-center">
                <thead>
                <tr>
                    <th></th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Type de billet</th>
                    <th scope="col">Tarif réduit</th>
                    <th scope="col">Prix unitaire - €</th>
                </tr>
                </thead>

                <tbody>
                {% for ticket in booking.tickets %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ ticket.firstname }}</td>
                        <td>{{ ticket.lastname }}</td>
                        <td>
                            {{ ((booking.type)?'Journée' : 'Demi-journée') }}
                        </td>
                        <td>{{ (ticket.reducedPrice)? 'oui' : 'non' }}</td>
                        <td>{{ ticket.price }}</td>
                    </tr>
                {%  endfor %}
                </tbody>
            </table>
            <div class="row price">
                <p>Prix total : {{ booking.totalPrice }} € </p>
            </div>

            {% block payment %}
                <form action="{{ path('summary') }}" method="POST">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ stripe_public_key }}"
                            data-description="Billetterie du musée du Louvre - Paiement"
                            data-amount="{{ booking.totalPrice * 100}}"
                            data-locale="auto"
                            data-currency='eur'
                            data-label="Je procèdes au paiement"
                            data-email='{{ booking.email }}'>
                    </script>
                </form>
            {% endblock %}
        </main>
    </div>
{% endblock %}