{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Résumé {% endblock %}

{% block body %}
    <main class="container">
        <div class="">
            <div>
                <h2>Récapitulatif de la commande</h2>
            </div>
        </div>
        <div class="table">
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Prix du billet</th>
                </tr>

                {% for ticket in booking.tickets %}
                    <tr>
                        <td>{{ ticket.lastname }}</td>
                        <td>{{ ticket.firstname }}</td>
                        <td>{{ ticket.price }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td>Total commande</td>
                    <td>{{ booking.totalPrice }}</td>
                </tr>

            </table>

            <form action="{{ path('summary') }}" method="POST">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_hHdbjuOgUzOjMWCtM23MHPhq"
                        data-amount="{{ booking.totalPrice * 100}}"
                        data-name="Paiement protégé"
                        data-description="Paiement test"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto"
                        data-currency="eur"
                        data-zip-code="true">
                </script>
            </form>

        </div>
    </main>

{% endblock %}