{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'step_title'|trans }} 2{% endblock %}

{% block body %}
    <div class="col-md-12 col-sm-12 form-style">
        <main>
            <div class="row form-style-title" >
                <h4>{{ 'tickets'|trans }}</h4>
            </div>

            {{ form_start(form) }}
            {% for ticket in form.tickets %}

                <div class="form-block">
                    <div class="ticket-title">
                        {{ 'ticket.unit'|trans }} n°{{ loop.index }}
                    </div>
                    {{ form_row(ticket.lastname, {'attr': {'class': 'input-style'}}) }}
                    {{ form_row(ticket.firstname, {'attr': {'class': 'input-style'}}) }}
                    {{ form_row(ticket.dateOfBirth, {'attr': {'class': 'input-style'}}) }}
                    {{ form_row(ticket.country) }}
                    {{ form_row(ticket.reducedPrice, {'attr': {'class': 'checkbox-style'}}) }}
                </div>
            {% endfor %}
            <button class="btn mx-auto" type="submit" name="ticket_validation">{{ 'submit.button'|trans }}</button>
            {{ form_end(form) }}
        </main>
    </div>
{% endblock %}

